.about {
    text-align: center;
    color: #303030;
    margin: 5rem auto;
    font-weight: 500;
}

.about h1 {
    margin-top: 2rem;  
}

.about p {
    font-size: 2rem;  
}

span {
    font-weight: bold;
    color: #FFA43C;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    /* styles */
    .about p {
        font-size: 1.5rem;  
    }

    .about {
        margin: 3rem auto;
    }
}