.social-media ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.social-media ul li {
    margin: 0 20px;
    list-style-type: none;
}

.social-media ul li a {
    text-decoration: none;
    font-size: 2.5rem;
    color: #FFA43C;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    /* styles */
    .social-media ul li {
        margin: 0 15px;
    }
    
    .social-media ul li a {
        font-size: 2.0rem;
    }
}