* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #e8e8e9;
    position: fixed;
    /* height: 60px; */
    /* display: flex; */
    /* justify-content: start; */
    /* align-items: center; */
}

.menu-bars {
    margin-left: 2.5rem;
    font-size: 1.5rem;
    background: none;
}

.logo {
    margin-right: 2.5rem;
    margin-top: 0.7rem;
    color: #FFA43C; 
}

.logo a {
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    color: #FFA43C;
    font-weight: 600;
}

.logo a:hover {
    text-decoration: none;
    list-style-type: none;
    border-bottom: none;
    color: #FFA43C; 
}

.nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1;
}

.nav-menu.active {
    left: 0;
    transform-origin: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    background-color: #e8e8e9;;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}