.footer {
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #e8e8e9;
    justify-content: space-between;
    margin-top: 40px;
    position: sticky;
}

.footer p {
    margin: 0 2rem;
}